$customYellow: #f7ca18

.btn
  background-color: transparent
  border: 2px solid $customYellow
  border-radius: 3px
  box-sizing: border-box
  color: #fff
  cursor: pointer
  font-size: 1.5rem
  height: 2.25em
  padding: 0.2em 0.75em
  display: inline-flex

  &:hover
    color: #000
    background-color: $customYellow
    transition: all 0.3s ease
