input[type=email],
input[type=text] {
  background: none;
  border: none;
  border-bottom: 2px solid #74bdb7;
  box-sizing: border-box;
  outline: none; }

input[type=submit]:hover,
input[type=submit]:focus {
  background: #f79577;
  cursor: pointer;
  outline: none; }

.inputs--filled label {
  transform: translate(0, 0); }
